{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>Home Visit</h2>
  <form method="post">
    {{ visit_form.hidden_tag() }}
    <div class="form-group"> {{ visit_form.child_id.label }} {{ visit_form.child_id(class="form-control") }} </div>
    <div class="form-group"> {{ visit_form.date.label }} {{ visit_form.date(class="form-control") }} </div>
    <div class="form-group"> {{ visit_form.findings.label }} {{ visit_form.findings(class="form-control") }} </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{{ url_for('fo.export_visits', format='csv') }}" class="btn btn-secondary ml-2">Download Report</a>
  </form>
  <hr>
  <h4>Previous Visits</h4>
  <ul class="list-group">
    {% for v in history %}<li class="list-group-item">{{ v.date.date() }}: {{ v.findings[:50] }}...</li>{% endfor %}
  </ul>
</div>
<script src="{{ url_for('static', filename='js/smart_questions.js') }}"></script>
{% endblock %}